In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/Alexa-Dataset.csv')

In [3]:
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [4]:
df["verified_reviews"] = df["verified_reviews"].str.lower()

## Remove punc

In [5]:
import string

In [6]:
punc = set(string.punctuation)

In [7]:
def removePunc(Text):
    Text = str(Text)
    ret = ''
    for i in Text:
        if i not in punc:
            ret += i
    return ret
removePunc("abcd!@#$")

'abcd'

In [8]:
df["verified_reviews"].apply(removePunc)

0                                            love my echo
1                                                loved it
2       sometimes while playing a game you can answer ...
3       i have had a lot of fun with this thing my 4 y...
4                                                   music
                              ...
3145      perfect for kids adults and everyone in between
3146    listening to music searching locations checkin...
3147    i do love these things i have them running my ...
3148    only complaint i have is that the sound qualit...
3149                                                 good
Name: verified_reviews, Length: 3150, dtype: object

In [9]:
df["verified_reviews"] = df["verified_reviews"].apply(removePunc)

In [10]:
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,love my echo,1
1,5,31-Jul-18,Charcoal Fabric,loved it,1
2,4,31-Jul-18,Walnut Finish,sometimes while playing a game you can answer ...,1
3,5,31-Jul-18,Charcoal Fabric,i have had a lot of fun with this thing my 4 y...,1
4,5,31-Jul-18,Charcoal Fabric,music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,perfect for kids adults and everyone in between,1
3146,5,30-Jul-18,Black Dot,listening to music searching locations checkin...,1
3147,5,30-Jul-18,Black Dot,i do love these things i have them running my ...,1
3148,5,30-Jul-18,White Dot,only complaint i have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,good,1

## Tokenize

In [11]:
from nltk.tokenize import word_tokenize

In [12]:
word_tokenize("fghfg fdgdfg dfgsdfg")

['fghfg', 'fdgdfg', 'dfgsdfg']

In [13]:
df["verified_reviews"].apply(word_tokenize)

0                                        [love, my, echo]
1                                             [loved, it]
2       [sometimes, while, playing, a, game, you, can,...
3       [i, have, had, a, lot, of, fun, with, this, th...
4                                                 [music]
                              ...
3145    [perfect, for, kids, adults, and, everyone, in...
3146    [listening, to, music, searching, locations, c...
3147    [i, do, love, these, things, i, have, them, ru...
3148    [only, complaint, i, have, is, that, the, soun...
3149                                               [good]
Name: verified_reviews, Length: 3150, dtype: object

In [14]:
df["verified_reviews"] = df["verified_reviews"].apply(word_tokenize)

In [15]:
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,"[love, my, echo]",1
1,5,31-Jul-18,Charcoal Fabric,"[loved, it]",1
2,4,31-Jul-18,Walnut Finish,"[sometimes, while, playing, a, game, you, can,...",1
3,5,31-Jul-18,Charcoal Fabric,"[i, have, had, a, lot, of, fun, with, this, th...",1
4,5,31-Jul-18,Charcoal Fabric,[music],1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"[perfect, for, kids, adults, and, everyone, in...",1
3146,5,30-Jul-18,Black Dot,"[listening, to, music, searching, locations, c...",1
3147,5,30-Jul-18,Black Dot,"[i, do, love, these, things, i, have, them, ru...",1
3148,5,30-Jul-18,White Dot,"[only, complaint, i, have, is, that, the, soun...",1
3149,4,29-Jul-18,Black Dot,[good],1

##  Remove the Stopwords

In [16]:
from nltk.corpus import stopwords

In [17]:
sw = set(stopwords.words("english"))

In [18]:
df["verified_reviews"].apply(lambda x: [word for word in x if word not in sw])

0                                            [love, echo]
1                                                 [loved]
2       [sometimes, playing, game, answer, question, c...
3       [lot, fun, thing, 4, yr, old, learns, dinosaur...
4                                                 [music]
                              ...
3145                    [perfect, kids, adults, everyone]
3146    [listening, music, searching, locations, check...
3147    [love, things, running, entire, home, tv, ligh...
3148    [complaint, sound, quality, isnt, great, mostl...
3149                                               [good]
Name: verified_reviews, Length: 3150, dtype: object

In [19]:
df["verified_reviews"] = df["verified_reviews"].apply(lambda x: [word for word in x if word not in sw])

In [20]:
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,"[love, echo]",1
1,5,31-Jul-18,Charcoal Fabric,[loved],1
2,4,31-Jul-18,Walnut Finish,"[sometimes, playing, game, answer, question, c...",1
3,5,31-Jul-18,Charcoal Fabric,"[lot, fun, thing, 4, yr, old, learns, dinosaur...",1
4,5,31-Jul-18,Charcoal Fabric,[music],1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"[perfect, kids, adults, everyone]",1
3146,5,30-Jul-18,Black Dot,"[listening, music, searching, locations, check...",1
3147,5,30-Jul-18,Black Dot,"[love, things, running, entire, home, tv, ligh...",1
3148,5,30-Jul-18,White Dot,"[complaint, sound, quality, isnt, great, mostl...",1
3149,4,29-Jul-18,Black Dot,[good],1

## Perform stemming & lemmatization on the review text

In [21]:
from nltk.stem import PorterStemmer

In [22]:
stemer = PorterStemmer()

In [23]:
stemer.stem("eating")

'eat'

In [25]:
df["steamed_reviews"] = df["verified_reviews"].apply(lambda x: [stemer.stem(word) for word in x] )
df

,rating,date,variation,verified_reviews,feedback,steamed_reviews
0,5,31-Jul-18,Charcoal Fabric,"[love, echo]",1,"[love, echo]"
1,5,31-Jul-18,Charcoal Fabric,[loved],1,[love]
2,4,31-Jul-18,Walnut Finish,"[sometimes, playing, game, answer, question, c...",1,"[sometim, play, game, answer, question, correc..."
3,5,31-Jul-18,Charcoal Fabric,"[lot, fun, thing, 4, yr, old, learns, dinosaur...",1,"[lot, fun, thing, 4, yr, old, learn, dinosaur,..."
4,5,31-Jul-18,Charcoal Fabric,[music],1,[music]
...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"[perfect, kids, adults, everyone]",1,"[perfect, kid, adult, everyon]"
3146,5,30-Jul-18,Black Dot,"[listening, music, searching, locations, check...",1,"[listen, music, search, locat, check, time, lo..."
3147,5,30-Jul-18,Black Dot,"[love, things, running, entire, home, tv, ligh...",1,"[love, thing, run, entir, home, tv, light, the..."
3148,5,30-Jul-18,White Dot,"[complaint, sound, quality, isnt, great, mostl...",1,"[complaint, sound, qualiti, isnt, great, mostl..."
3149,4,29-Jul-18,Black Dot,[good],1,[good]

In [26]:
from nltk.stem import WordNetLemmatizer

In [27]:
wnl = WordNetLemmatizer()

In [28]:
wnl.lemmatize("playing", pos="v")

'play'

In [29]:
df["lemmatized_review"] = df["verified_reviews"].apply(lambda x: [wnl.lemmatize(word, pos="v") for word in x])

In [30]:
df

,rating,date,variation,verified_reviews,feedback,steamed_reviews,lemmatized_review
0,5,31-Jul-18,Charcoal Fabric,"[love, echo]",1,"[love, echo]","[love, echo]"
1,5,31-Jul-18,Charcoal Fabric,[loved],1,[love],[love]
2,4,31-Jul-18,Walnut Finish,"[sometimes, playing, game, answer, question, c...",1,"[sometim, play, game, answer, question, correc...","[sometimes, play, game, answer, question, corr..."
3,5,31-Jul-18,Charcoal Fabric,"[lot, fun, thing, 4, yr, old, learns, dinosaur...",1,"[lot, fun, thing, 4, yr, old, learn, dinosaur,...","[lot, fun, thing, 4, yr, old, learn, dinosaurs..."
4,5,31-Jul-18,Charcoal Fabric,[music],1,[music],[music]
...,...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"[perfect, kids, adults, everyone]",1,"[perfect, kid, adult, everyon]","[perfect, kid, adults, everyone]"
3146,5,30-Jul-18,Black Dot,"[listening, music, searching, locations, check...",1,"[listen, music, search, locat, check, time, lo...","[listen, music, search, locations, check, time..."
3147,5,30-Jul-18,Black Dot,"[love, things, running, entire, home, tv, ligh...",1,"[love, thing, run, entir, home, tv, light, the...","[love, things, run, entire, home, tv, light, t..."
3148,5,30-Jul-18,White Dot,"[complaint, sound, quality, isnt, great, mostl...",1,"[complaint, sound, qualiti, isnt, great, mostl...","[complaint, sound, quality, isnt, great, mostl..."
3149,4,29-Jul-18,Black Dot,[good],1,[good],[good]

## Perform the word vectorization on review text using Bag of Words technique

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
bow_vectorizer = CountVectorizer()

In [33]:
bow_matrix = bow_vectorizer.fit_transform(df['lemmatized_review'].apply(lambda x: ' '.join(x)))

In [37]:
bow_matrix.data

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [49]:
# Convert bow_matrix to a DataFrame
bow_df = pd.DataFrame(bow_matrix.toarray(), columns=bow_vectorizer.get_feature_names_out())

In [54]:
bow_df.zero.sum()

3

##  Create representation of Review Text by calculating Term Frequency and Inverse Document Frequency (TF-IDF)

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
# TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['lemmatized_review'].apply(lambda x: ' '.join(x)))

In [40]:
tfidf_matrix

<3150x3605 sparse matrix of type '<class 'numpy.float64'>'
	with 36070 stored elements in Compressed Sparse Row format>