Problem Statement No. 02 
Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv) 
Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and 
without using any library functions. 
Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each 
response to the categorical variable.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Age-Income-Dataset.csv')

In [3]:
df.sample(5)

           Age  Income
12       Young   33000
10       Young   48000
23         Old   89000
34  Middle Age   65400
16  Middle Age   29000

In [4]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

<h1> Using Libraries</h1>

In [5]:
df['Income'].mean()

50966.0

In [6]:
df['Income'].median()

46850.0

In [7]:
df['Income'].mode()

0    23000
1    25600
2    45000
3    65400
4    80000
Name: Income, dtype: int64

In [8]:
df['Income'].min()

15000

In [9]:
df['Income'].max()

93000

In [10]:
df['Income'].std()

21096.683267707253

<h1>Without Using Libraries</h1>

In [11]:
def mean(data):
    return sum(data) / len(data)

In [13]:
mean(df['Income'])

50966.0

In [17]:
def median(data):
    sorted_data = sorted(data)
    n = len(sorted_data)
    if(n % 2 == 0):
        median = (sorted_data[ n // 2 - 1]+sorted_data [ n // 2])/2
    elif( n % 2 == 1):
        median = sorted_data[n // 2]
    return median

In [18]:
median(df['Income'])

46850.0

In [20]:
len(df['Income'])

50

In [21]:
def mininum(data):
    sorted_data = sorted(data)
    return sorted_data[0]

In [22]:
mininum(df['Income'])

15000

In [27]:
def maximun(data):
    sorted_data = sorted(data)
    n = len(sorted_data)
    return sorted_data[n-1]

In [28]:
maximun(df['Income'])

93000

In [33]:
def std_dev(data):
    n = len(data)
    mean = sum(data)/n
    return (sum((data-mean)**2) / (n-1))**0.5

In [34]:
std_dev(df['Income'])

21096.683267707253

In [35]:
def variance(data):
    n= len(data)
    mean = sum(data)/n
    return sum((data-mean)**2)/(n-1)

In [36]:
variance(df['Income'])

445070044.8979592

In [39]:
group_data = df.groupby('Age')

In [40]:
summry = group_data['Income'].describe()

In [41]:
summry

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
Middle Age,15.0,52453.333333,20497.800114,25600.0,36900.0,53200.0,61200.0,93000.0
Old,19.0,53942.105263,20868.165968,24500.0,38700.0,45300.0,71400.0,89700.0
Young,16.0,46037.500000,22356.859499,15000.0,28750.0,41500.0,65850.0,87000.0